<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Se connecter - Experience Tunisia</title>
     <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/197/197624.png" type="image/png">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../assets/js/init-alpine.js"></script>
    <style>
    .white-text {
  color: white;
}
    </style>
  </head>
  <body>
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
        <div class="flex flex-col overflow-y-auto md:flex-row">
          <div class="h-32 md:h-auto md:w-1/2">
            <img
              aria-hidden="true"
              class="object-cover w-full h-full dark:hidden"
              src="../assets/img/555.jpg"
              alt="sidibouu"
            />
            <img
              aria-hidden="true"
              class="hidden object-cover w-full h-full dark:block"
              src="../assets/img/555.jpg"
              alt="sidibouu"
            />
          </div>
          <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
            <div class="w-full">
                  <img
    aria-hidden="true"
    class="object-cover img-small dark:hidden" 
    src="../assets/img/777.jpg"
    alt="logo"
/>
         
 {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate'}}) }}
        
       <label class="block text-sm text-gray-700 dark:text-gray-400" >
            Mot de passe
        </label>
        {{ form_widget(resetForm.mdp.first, {'attr': {'class': 'block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'}}) }}
       <div class="text-xs text-red-600 dark:text-red-400"> {{ form_errors(resetForm.mdp.first) }}</div>
    <label class="block text-sm text-gray-700 dark:text-gray-400" >
             Confirmation mot de passe
        </label>
               {{ form_widget(resetForm.mdp.second, {'attr': {'class': 'block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'}}) }}
       <div class="text-xs text-red-600 dark:text-red-400"> {{ form_errors(resetForm.mdp.second) }}</div>

    
    <br>
    
       

   
   

        <button
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    type="submit"
                >
                   Changer  le mot de passe
            </button>
    {{ form_end(resetForm) }}

              <hr class="my-8" />

              
             

              <p class="mt-4">
                <a
                  class="text-sm font-medium text-black-400 dark:text-blue-600 hover:underline"
                  href="{{path('app_login')}}"
                >
                 Se connecter
                </a>
              </p>
              <p class="mt-1">
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

